# Patterns

In [2]:
j = 1
while j <= 5:
    i = 1
    while i < j:
        print(" ", end="")
        i += 1
    
    i = 5
    while i >= j:
        print("*", end=" ")
        i -= 1
        
    print()
    j += 1

* * * * *
 * * * *
  * * *
   * *
    *

In [3]:
num=int(input("enter the number of rows:"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [4]:
i = 0
while i < 5:
    print("*", end="")
    i += 1
print()

*****

In [7]:
i = 0
while i < 5:
    j = 0
    while j < 5 :
        print("*", end="")
        j += 1
    i+=1
    print()

*****
*****
*****
*****
*****

In [8]:
i = 5
j = 0
while j< i:
    k = j + 1
    l = 0
    while l < k:
        print('*', end='')
        l += 1
    print()
    j += 1

*
**
***
****
*****

In [9]:
i = 5
while i > 0:
    j = i
    while j > 0:
        print("*", end="")
        j -= 1
    print()
    i -= 1

*****
****
***
**
*

In [10]:

i = 1
while i <= 5:
    j = 1
    while j < i:
        print(" ", end="")
        j += 1
    
    j = 5
    while j >= i:
        print("*", end=" ")
        j -= 1
        
    print()
    i += 1

* * * * *
 * * * *
  * * *
   * *
    *

In [15]:
num=int(input("enter the number of rows:"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [18]:
num=int(input("enter number of rows:"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555

In [2]:
num=5
x=0
for i in range(1,num+1):
    for j in range(1,i+1):
        x+=1
        print(x,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [3]:
num=5
for i in range(num):
    for j in range(i,num):
        print(" ",end="")
    for j in range(i+1):
            print("*",end="")
    print()

     *
    **
   ***
  ****
 *****

In [4]:
num=5
for i in range(num):
    for j in range(i,num):
        print(" ",end="")
    for j in range(i+1):
            print(j+1,end="")
        
    print()

     1
    12
   123
  1234
 12345

In [5]:
num=int(input("enter number of rows:"))
for i in range(1,num+1):
    for j in range(1,num-i+1):
        print(end=" ")
    for j in range(i,0,-1):
        print(j,end="")
    for j in range(2,i+1):
        print(j,end="")
    print()

    1
   212
  32123
 4321234
543212345

In [6]:
for i in range(7):
    for j in range(7):
        if i+j==3 or j-i==3 or i-j==3 or i+j==9:
            print("o",end="")
        else:
            print(end=" ")
    print()

   o
  o o
 o   o
o     o
 o   o
  o o
   o

In [11]:
for i in range(7):
    for j in range(5):
        if j==2 or (i==3 and j!=5):
            print("o",end="")
        else:
            print(end=" ")
    print()

  o
  o
  o
ooooo
  o
  o
  o